{% extends "admin panel/teachers/teacher_home.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<div class="col-md-6 offset-md-3 mt-3">
	<div class="jumbotron">
<h3>Password reset sent</h3>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
</div>
<script>
	var p = document.getElementById("nav-change-pass");
	p.classList.add("active")
</script>
{% endblock content %}