{% extends "admin panel/teachers/teacher_home.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<br>
<div class="col-md-6 offset-md-3 mt-3">
	<div class="jumbotron">       

<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" class="btn btn-primary" name="Update Password">
	
</form>
</div>
</div>
<script>
	var p = document.getElementById("nav-change-pass");
	p.classList.add("active")
</script>
{% endblock content %}