{% extends 'main site/main_nav.html' %}
<!--{% load static %}-->
{% block content2 %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/main site/disclaimer.css' %}"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{% block title %}Disclaimer{% endblock %}</title>

      <style>
        .hero{
          	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        }

      </style>

<body style="background-image: url('{% static 'images/backgrounds/disclaimer2.jpg'%}'); background-repeat: no-repeat; background-size: cover; height:100%; width: 100%;">
<!--<body>-->

    <h1>Disclaimer</h1>
    <span class="border1"></span>
    <div class="container">
    <span class="txt">
        <blockquote><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<q>

The availability of Internet access in the our school provides an opportunity for students and staff
to contribute to the district's presence on the World Wide Web. The purpose of our school web site is to provide information to
the local community and the world regarding school curriculum, instruction, school-sponsored activities, athletics, and other general information
relating to our school and our district's mission. Content included on this site, such as text, graphics, logos, images, audio, video, etc. is the
property of the our school.
<br><br>
&emsp;&emsp;If you discover any broken links or sites that no longer exist or have changed dramatically from the intended content,
or you find objectional material within our web pages, or any linked pages, please send e-mail to the Technology Department
at technology@baugo.org with the address of the page in question, your name, and a brief statement of your question or comment.
We will review your message.
<br><br>
&emsp;&emsp;Our school Website is for educational and informational purposes only. 
Information contained in this website can and will change without notice.  The school shall not be liable for any special,
incidental, or consequential damages resulting from the use of this website. 
<br><br>
&emsp;&emsp;Every effort is made to assure that the most accurate and current information is posted on this site. 
The school does not guarantee this website is free from typographical errors or inadvertently inaccurate information. 
Errors or omissions should be reported to the webmaster.
<br><br>
&emsp;&emsp;All school clubs, organizations, sports groups, etc. may not have individual websites maintained by
someone other than the CCS Webmaster. Information must be submitted to the CCS Webmaster for publication to the CCS website.
<br><br>
&emsp;&emsp;The school makes no representations or warranties regarding the condition or functionality of this website, its suitability
for use, or that this web service will be uninterrupted or error-free.</q>
<br><br>

       </blockquote>
    </span>
          
  </div>
<!-- Footer -->
  <!-- Copyright -->
<!--  <div class="foot">-->
<!--      <br>-->
<!--      <div class="cr">© 2020 Copyright:-->
<!--          <a href="http://ourschool12345.com/" >OurSchool.com</a>-->
<!--      </div>-->

<!--      <a href="#" class="fa fa-facebook"></a>-->
<!--    <a href="#" class="fa fa-twitter"></a>-->
<!--    <a href="#" class="fa fa-google"></a>-->
<!--    <a href="#" class="fa fa-youtube"></a>-->
<!--    <a href="#" class="fa fa-instagram"></a>-->

<!--  </div>-->

<!-- Footer -->


{% endblock content2 %}
