<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Thank You!</h4><br>
    <p>Your feedback is recorded successfully .Because of loyal customers like you, we’re exciting that [company name] is growing so fast. Thank you!</p>
  <hr>
  <p class="mb-0">We are so grateful for the pleasure of serving you and hope we met your expectations.</p>
</div>
</body>
</html>